
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: auto;
    min-height: 100%;
    overflow-y: auto;
}


body {
    background-image:
        url("assets/homepagebg.png"),
        url("assets/homepagebg.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 100%, 50% 100%;
    background-position: left top, right top;
}


nav {
    position: relative;
    z-index: 10;
}


nav a {
    text-decoration: none;
}

.page-wrapper {
    width: 1200px;
    min-height: 900px;

    margin: 40px auto;
    padding: 60px;

    background-image: url("assets/maincontentpanel.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}